<!-- begin c-hero -->
<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-6 col-t-12 last-item">
        <div class="hero__content">
          <h1 class="hero__title">Förderverein KiTa Theresienstraße</h1>
          <p class="hero__subtitle">Willkommen auf der Seite des Fördervereins</p>
          <div class="hero__social">
            <span class="hero__social-title">Werden Sie Mitglied!</span>
            {% include contact-link.html %}
          </div>
        </div>
      </div>
      <div class="col col-6 col-t-12">
        <div class="hero__image">
          <img src="{{site.baseurl}}/images/kita.jpeg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end hero -->